<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>CURRÍCULO WEB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="main-container">
    <header>
      <img src="./images/unnamed.png" alt="" height="30">
      <h1>CURRÍCULO WEB</h1>
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Contato</a></li>
        </ul>
      </nav>
    </header>
    <section id="main-form">
      <h2>Preencha os dados do currículo</h2>

      <form action="">
        <div class="nome">
          <label for="">Nome:</label>
          <input type="text" name="nome" id="nome" required>
          <label for="">Sobrenome:</label>
          <input type="text" name="nome" id="nome" required>
        </div>
      </form>
    </section>
  </body>
</html>
